#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.1rem;
  text-align: center;
}

/* .page1, .page5{
  display: none;
} */

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.hidden {
  display: none;
}

/* page 2 styles */

.topButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
}

.back, .forward {
  width: 6.5rem;
}

.imgContainer {
  width: 100%;
  height: 65vh;
  position: relative;
}

#fieldIMG {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.note {
  position: absolute;
  z-index: 10;
  padding: 0;
  text-align: center;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  background-color: orange;
}

.startPos{
  position: absolute;
  height: 22%;
  width: 19%;
  background-color: rgba(0, 0, 0, 0.425);
  padding: 0;
}

#start1.blueArr {
  bottom: 1%;
  left: 6%;
}
#start2.blueArr {
  bottom: 1%;
  left: 26%;
}
#start3.blueArr {
  bottom: 1%;
  left: 46%;
}
#start4.blueArr {
  bottom: 1%;
  left: 66%;
  width: 30%;
}

#start1.redArr {
  bottom: 1%;
  right: 6%;
}
#start2.redArr {
  bottom: 1%;
  right: 26%;
}
#start3.redArr {
  bottom: 1%;
  right: 46%;
}
#start4.redArr {
  bottom: 1%;
  right: 66%;
  width: 30%;
}

#b1.blueArr {
  top: 64%;
  left: 11%;
}
#b2.blueArr {
  top: 64%;
  left: 28%;
}

#b1.redArr {
  top: 64%;
  left: 62.5%;
}
#b2.redArr {
  top: 64%;
  left: 79.5%;
}

#b3 {
  top: 64%;
  left: 45.25%;
}

#t1 {
  top: 17%;
  left: 8.5%;
}

#t2 {
  top: 17%;
  left: 26.5%;
}

#t3 {
  top: 17%;
  left: 45.25%;
}

#t4 {
  top: 17%;
  left: 64%;
}

#t5 {
  top: 17%;
  left: 82%;
}

.scored {
  width: 20rem;
  margin: 8px;
}

#speakerButton {
  margin-top: 20px;
}


/* page 3 styles */
h3 {
  margin: 0;
  padding: 0;
  position: relative;
  top: 5px;
}